body {
  font-family: Arial, sans-serif;
}

.custom-navbar {
  background-color: #003087;
  padding-bottom: 10px;
  padding-top: 10px;
}

.intro-section {
  background-color: #f8f9fa;
}

.section-title {
  color: #003087;
  font-weight: bold;
}

.custom-btn {
  background-color: #003087;
  color: white;
  border: none;
}

.custom-btn:hover {
  background-color: #00256a;
  color: white;
}

.chart-box {
  height: 220px;
  border: 2px dashed #003087;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  font-weight: bold;
  color: #003087;
}

.table-header th {
  background-color: #003087 !important;
  color: white !important;
}

/*hover dropdown*/
@media (min-width: 992px) {
  .hover-dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }
}

.major-header-title {
  color: #003087;
  font-weight: bold;
  text-align: center;
}

.major-brief-description {
  color: #333;
  font-size: 1.2em;
  margin-top: 20px;
  text-align: center;
}

.nav-tabs .nav-link {
  color: #555; 
  border: 1px solid transparent; 
  border-radius: 0; 
}

.nav-tabs .nav-link:hover {
  border-color: #ddd #ddd #fff; 
  background-color: #f8f9fa;
}

.nav-tabs .nav-link.active {
  color: #fff !important;         
  background-color: #003087 !important; 
  border-color: #003087;      
}